* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #141922;
}

header {
    display: flex;
    flex-direction: column;

}

img {
    max-width: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

/* dimensioni media query
xs:320px,   
sm: 540px,
md: 720px,
lg: 960px,
xl: 1140px,
xxl: 1320px */



/* HEADER */
header {
    display: flex;
    flex-direction: column;
}

.row1-header {
    width: 85%;
    height: 70px;
    background-color: #080b12;
    padding-block: 30px;
    position: fixed;
    z-index: 98;
    right: 0px;
}


.upgrade.flex {
    justify-content: end;
}

.upgrade ul li {
    list-style-type: none;

}

.upgrade ul li a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding-inline: 15px;
    padding-block: 8px;
    border-radius: 20px;
    font-size: 10px;
    margin-right: 5px;
}

.menu {
    background-color: #000000;
    width: 15vw;
    height: calc(100% - 80px);
    bottom: 80px;
    left: 0;
    position: fixed;
    justify-content: space-between;

}

.logo-small {
    display: block;
}
/* media query */
.logo {
    display: none;
}
/**********/
.nav-top ul li a {
    text-decoration: none;
    color: white;
}

.flex ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav.flex ul li {
    padding-top: 15px;
    list-style-type: none;
}

nav.flex ul li a {
    text-decoration: none;
    color: white;

}

img.img-profile {
    background-color: gray;
    border-radius: 100%;
    height: 100%;
    width: 30px;
    object-fit: cover;
    padding-top: 0px;
}


.nav-top {
    height: 80%;
    justify-content: start;

}
/* media query */
.text-nav{
    display: none;
}
.text-playlist{
    display: none;
}
/***********/
.menu.nav-bottom {
    height: 20%;
    justify-content: center;
}
/* media query */
.name,
.name2,
hr{
    display: none;
}
/************/

/* MAIN */
.row1-main {
    background-color: #141922;
    height: auto;
    margin-top: 70px;
    margin-left: 15%;
}

.text-row1 ul {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 10PX;
    gap: 35px;
    padding-left: 10px;
    row-gap: 20px;
    justify-content: center;
    padding-block: 10px;
}

.text-row1 ul li {
    list-style-type: none;
}

.text-row1 ul li a {
    color: white;
    opacity: 0.5;
    text-decoration: none;
}

.row1-container {
    padding: 10px;
    flex-wrap: wrap;
}

.row1-container>h3 {
    color: white;
    padding-bottom: 10px;

}

.img-blocco {
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 120px;
}

.album {
    flex: 0 0 calc((100% / 2) - 10px);

}

.album>figure {
    object-fit: cover;

}

.album>figure img {
    width: 100%;

}

.album>h3 {
    color: white;
    font-size: 15px;
    text-transform: capitalize;
}

.album>span {
    color: white;
    opacity: 0.5;
    font-size: 10px;
    text-transform: capitalize;
}

.titolo-blocchi>h3 {
    color: white;
    margin-bottom: 20px;
}

.row1-container2>h3 {
    color: white;
    margin-top: 45px;

}

.row1-container2>p {
    color: white;
    padding-block: 15px;

}

.album2,
.album3 {
    gap: 10px;
    margin-top: 20px;
}

.album2 div>h3 {
    color: white;
    font-size: 15px;

}

.album2 figure,
.album3 figure {
    height: 100%;
    flex: 0 0 calc((100% / 2) - 10px);

}

.album3 figure img {
    border-radius: 100%;
    width: 100%;

}

.album3 div>h3 {
    color: white;
    font-size: 15px;
}

/* FOOTER */
.row1-footer {
    width: 100%;
    background-color: #282828;
    height: 80px;
    position: fixed;
    bottom: 0;
    padding: 7px;
    justify-content: space-between;
    gap: 8px;
}

.brano,
.play {
    max-width: 35%;
}
.play{
    justify-content: center;
    flex-grow: 1;
}

.icon {
    justify-content: space-between;
    gap: 7px;
}

.audio {
   max-width: 40%;
}

.img-footer {
    align-items: center;
}

figure.img-footer div>span:first-child {
    color: white;
    font-size: 80%;

}

figure.img-footer div>span {
    color: #7a7a7a;
    font-size: 60%;
    margin-left: 3px;

}

.heart {
    align-self: center;
    margin-left: 20px;
}

.tempo-bar {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.current-time,
.total-time {
    color: white;

}

.progress{
    height: 100%;
    width: 40%;
    padding-inline: 3px;
    border-radius: 20px;
    background-color: white;
}

.progress-bar{
    border-radius: 20px;
    width: 50%;
    height: 10%;
    background-color: #7a7a7a;
    color: white;
    margin-inline: 5px;
    
}

/* media query */
.tempo-bar{
    display: none;
}
.progress-bar1{
    display: none;
}
/*  */

.audio {
    width: 20%;
    gap: 8px;
    justify-content: center;
    align-items: center;
}







/*****************************************/
/*************** MEDIA QUERY **************/
/*****************************************/



/* media query 576px*/
@media screen and (min-width: 576px) {


    /* HEADER */
    .row1-header {
        width: 75%;
        height: 70px;
        background-color: #080b12;
        padding-block: 30px;
        position: fixed;
        z-index: 98;
        right: 0px;
    }

    .menu {
        width: 25%;
        padding-inline: 5px;
    }

    .logo-small {
        display: none;
    }

    .logo {
        display: block;
        padding-inline: 5px;
    }

    .icon-nav {
        display: flex;
        justify-self: left;
        width: 100%;
        text-align: center;
        padding-inline: 5px;
    }

    .text-nav {
        display: flex;
        align-items: center;
        color: white;
        font-size: 10px;
        text-transform: capitalize;
        opacity: 0.6;
    }

    .home {
        opacity: 1;
    }

    .text-playlist {
        padding-inline: 5px;
        color: white;
        display: block;
        overflow: scroll;
    }

    .text-playlist ul {
        list-style: none;
    }

    .text-playlist ul li {
        font-size: 10px;
        opacity: 0.7;
        list-style: none;
        align-self: start;
    }

    .text-playlist>h3 {
        color: white;
        font-size: 10px;
        padding-block: 5px;
    }

    .text-playlist ul li>span {
        background-color: gray;
        padding: 10px;
        font-size: 20px;
        color: black;
    }

    .nav-bottom ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-inline: 5px;

    }

    .istall-name {
        height: auto;
        display: flex;
    }

    .istall-name>span {
        width: auto;
        padding-inline: 5px;
        align-self: center;
    }

    .name {
        display: block;
        color: white;
        opacity: 0.4;
        font-size: 10px;
    }
    .name2{
        display: block;
        color: white;
        font-size: 15px;

    }

    hr {
        display: block;
        margin-top: 5px;
        justify-content: left;
        color: white;
        width: 90%;
        opacity: 0.7;
    }

    /* MAIN */
    .row1-main {

        margin-left: 25%;
    }

    .text-row1 ul {
        gap: 30px;
    }

    /* FOOTER */
    .row1-footer{
        gap:0px
    }
    .brano,
    .play {
        max-width: 40%;
    }
    .play{
        flex-grow: 1;
    }

    .audio {
        max-width: 20%;
    }

    .brano {
        gap: 20px;
    }
    .img-footer {
        align-items: center;
        width: 100%;
    }

    .icon {
        width: 50%;
        margin: 0 auto;
        justify-content: space-between;
        padding-top: 10px
    }
    .tempo-bar{
        display: flex;
    }
   
    .progress-bar {
        width: 100%;
        height: 10%;
        background-color: #7a7a7a;
        color: white;
        margin-inline: 5px;
    }
    .progress-bar1 {
        display: block;
        width: 100%;
        height: 10%;
        background-color: #7a7a7a;
        margin-inline: 5px;
        border-radius: 20px;
        
    }
    .progress1{
        background-color: white;
        width: 70%;
        height: 100%;
        border-radius: 20px;
    }
    .audio {
        gap: 8px;
        align-items: center;
        justify-content: start;
    }

}



/* media query 768px  */

@media screen and (min-width:768px) {

    /* FOOTER */
    .icon{
        width: 50%;
        margin: 0 auto;
    }

}





/* media query 960px */

@media screen and (min-width:992px) {}


/* media query 180px */

@media screen and (min-height: 180px) {}