* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    height: 10000px;
}
img {
    max-width: 100%;
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}

/* dimensioni media query
xs:320px,   
sm: 540px,
md: 720px,
lg: 960px,
xl: 1140px,
xxl: 1320px */



















/*****************************************/
/*************** MEDIA QUERY **************/
/*****************************************/

/* mediaquery 320px */

@media screen and (min-width: 320px) {
    /* HEADER */
    header{
        display: flex;
        flex-direction: column;
    }
    .row1-header{
        width: 85%;
        height: auto;
        background-color: #080b12;
       padding-block: 30px;
       position: fixed;
        right: 0px;
    }
    .upgrade.flex {
        justify-content: end;
    }
    .upgrade ul li a {
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding-inline: 15px;
        padding-block: 8px;
        border-radius: 20px;
        font-size: 10px;
        margin-right: 2px;
        
    }
   
    .menu{
        background-color: #000000;
        width: 15vw;
        height: calc(100% - 80px);
        bottom: 80px;
        left: 0;
        position: fixed;
        justify-content: space-between;
        
    }
    .nav-top ul li a{
        text-decoration: none;
        color: white;
    }

    .flex ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav.flex ul li {
      padding-top: 15px;
      }
     
    nav.flex ul li a{
      text-decoration: none;
      color: white;
    
    }
    nav.nav-bottom ul li:last-child{
        background-color: gray;
       border-radius: 100%;
       height: 100%;
       width: auto;
       object-fit: cover;
       padding-top: 0px;
       margin-bottom: 10px;
      }
     

    .nav-top{
        justify-content: start;
    }
   
    .menu .nav-bottom {
        justify-content: center;
    }
    /* FOOTER */
    .row1-footer{
        width: 100%;
        background-color: #282828;
        height: 80px;
        position: fixed;
        bottom: 0;
        padding: 7px;
        justify-content: space-between;
        gap: 8px;
    }
    .brano,
    .play{
        width: 40%;
    }
    
    .icon{
        gap: 10px;
        padding-top: 10px;
    }
    .audio{
        width: 20%;
    }
    .img-footer{
        align-items: center;
    }
    figure.img-footer div > span:first-child{
        color: white;
        font-size: 80%;

    }
    figure.img-footer div > span{
        color: #7a7a7a;
        font-size: 60%;
        margin-left: 3px;

    }
    .tempo-bar {
        align-items: center;
        height: 100%;
      }
      .current-time,
      .total-time{
        color: white;

      }
      .progress {
        height: 100%;
        width: 0; 
        padding-inline: 3px;
        
      }
      .progress-bar {
        width:50%;
        height: 10%; 
        background-color: #7a7a7a;
        color: white;
        margin-inline:5px;
      }
    


}
/* mediaquery 540px */  /* esercizio: 639px*/
@media screen and (min-width: 540px){

}



/* media query 720px  */ /* esercizio: 878px*/
@media screen and (min-width:720px){
    
}





/* media query 960px */ /* esercizio: 1140px*/
@media screen and (min-width:960px){
    
}


/* media query 350px */ /* esercizio: 1140px*/
@media screen and (min-height: 180px){
    
}

